* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #E50014;
    --preta: #141414;

    font-size: 62.2%; /*10px = 1rem*/
}

/* base */
body {
    background-color: var(--preta);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-left: .5rem;
    color: var(--vermelho);
    font-family: 'Arial Black', times;
    font-size: 4rem;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 1rem;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */
.filme-principal {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url(../img/capa-house.jpg);
    background-size: cover;
    height: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 4rem;
    margin-top: 10px;
    font-size: 1.76rem;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 4rem;
    font-family: Arial, Times, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 1.5rem 3rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: .5rem;
}

.container {
    margin-left: 2rem;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrousel-filmes {
    margin-top: .5rem;
}